<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-md-offset-2">
        
        <form-component 
        @save="addElevator">
        </form-component>
 
            <table class="table table-hover mt-3">
                <tr class="thead-dark">
                    <th scope="col">Ascensor</th>
                    <th scope="col">frecuencia</th>
                    <th scope="col">Plantas</th>
                    <th scope="col">Hora de inicio</th>
                    <th scope="col">Hora de fin</th>
                    <th scope="col">Acciones</th>
                </tr>
                <row-component v-for="(elevator,index) in elevators" 
                :key="elevator.id"
                :elevator="elevator"
                @delete="deleteRow(index)"
                @update="updateRow(index,elevator)"
                >   
                </row-component>

            </table>
         
            <table v-if="showMode" class="table table-hover mt-3">
                <tr class="thead-dark">
                    <th scope="col">Ascensor</th>
                    <th scope="col">Posicion</th>
                    <th scope="col">Plantas recorridas</th>
                    <th scope="col">Tatotal recorrido</th>
                </tr>
                <tr v-for="(row) in rows"
                :key="row.id"
                :row="row">
                <td><p>{{row.number}}</p></td>
                <td><p>{{row.position}}</p></td>
                <td><p>{{row.flors}}</p></td>
                <td><p>{{row.cant_flors}}</p></td>
                </tr>
            </table>
             <button  v-else  class="btn btn-warning" v-on:click="showTable" >Mostrar resultados</button>
        </div>
       
    </div>
</div>
</template>

<script>
    export default {
        data(){
            return{
                showMode : false,
                rows:[],
                elevators:[]
            }
        },
        methods:{
            addElevator(elevator)
            {
                this.elevators.push(elevator);
               // this.callReport();
            },
            deleteRow(index){
                this.elevators.splice(index,1);
                //this.callReport();
            },
            updateRow(index,elevator){
                this.elevators[index] = elevator;
               // this.callReport();
            },
            showTable(){
                this.showMode = true;
            },
            // callReport(){
            //      axios.get('/elevators').then((response)=>{
            //         this.rows = response.data.registers;
            // });
            //},

        },
        mounted() {
            axios.get('/elevators').then((response)=>{
            this.rows = response.data.registers;
            this.elevators = response.data.calls;
            });
        }
    }
</script>
