<template>
<div class="panel panel-dafult">  
    <div class="panel-body">
        <form action="" v-on:submit.prevent="save()">
            <div class="form-group">
                <label for="elevator_number">Numero</label>
                <input type="number" class="form-control" id="elevator_number" placeholder="Ingrese su numero de elevador" v-model="elevator_number">
            </div>
            <div class="form-group">
                <label for="frequency">frecuencia</label>
                <input type="number" class="form-control" id="frequency" placeholder="Ingrese una frecuencia de uso en minutos" v-model="frequency">
            </div>
            <div class="form-group">
                <label for="flors">Plantas</label>
                <input type="number" class="form-control" id="flors" placeholder="Ingrese las Plantas desdes donde va se llamado" v-model="flors">
            </div>
              <div class="form-group">
                <label for="start">Hora de inicio</label>
                <input type="number" class="form-control" id="start" placeholder="Ingrese una hora de inicio" v-model="start">
            </div>
             <div class="form-group">
                <label for="end">Hora de fin</label>
                <input type="number" class="form-control" id="end" placeholder="Ingrese una hora de fin" v-model="end">
            </div>
           
            <button type="submit" class="btn btn-success">
                Guardar
            </button>
        </form>
    </div>
</div>


</template>


<script>

    export default {
  
        data () {
        return {
            elevator_number:'',
            frequency:'',
            flors:'',
            start:'',
            end:''
            }
        },
        mounted() {
        },
        methods:{
            // nameWithLang ({name}) {
            //     return `${name}`
            // },
            
            save()
            {
                const params ={
                    elevator_number:this.elevator_number,
                    frequency:this.frequency,
                    flors:this.flors,
                    start:this.start,
                    end:this.end
                };

                this.elevator_number = '';
                this.frequency = '';
                this.flors = '';
                this.start = '';
                this.end = '';
                axios.post('/elevators',params)
                    .then((response)=>{
                        const elevator = response.data[0];
                        this.$emit('save',elevator);
                    });
            }
        }
    }
</script>

